In [18]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
pd.set_option('max_column', 100)

In [23]:
# This is only a one-time set up!!!!!
# import plotly
# plotly.tools.set_credentials_file(username='zihaoxu', api_key='UUEKSL35OteiSutHDAY1')

# Define Access Token (user specific)
mapbox_access_token = 'pk.eyJ1IjoienhxbDIwMTUiLCJhIjoiY2pkdGh3MWVwMmJlOTJ3cXBya2UyZXVkayJ9.JzftwW6qNPESBlTldyzGSg'

In [19]:
mst_path = '/Users/zihaoxu/R_repos/BikeSGV/datasets/mst/'
fig_path = '/Users/zihaoxu/R_repos/BikeSGV/export/02_summary_stats_ped/'

In [20]:
# Read in the data
df = pd.read_csv(mst_path + 'clean_bike.csv')
df.head()

,intervalid,location_id,street1,street2,street3,latitude,longitude,date,weekday,period_begin,period_end,interval_begin,ns,sn,ew,we,female,sidewalk,wrongway,count_method,count_bikesonsidewalks,raining,unusual,bikewaytype,bikewaytype_options,road_class,speed_limit,landuse,pk_dataset_id,city,createdatetime,total_count,no_helmet,child
0,19203.0,1025.0,Durfee Ave.,Santa Anita Ave.,Peck Rd.,34.035943,-118.039993,12-03-2016,Saturday,11:00 AM,1:00 AM,11:00 AM,0,0,0,1,0,0,1.0,manual_in_house,1,no,none,none,none,minorArterial,40.0,neighborhoodRetail,133.0,SEM,2017-07-17 15:08:00,1,1,0
1,19204.0,1025.0,Durfee Ave.,Santa Anita Ave.,Peck Rd.,34.035943,-118.039993,12-03-2016,Saturday,11:00 AM,1:00 AM,11:15 AM,0,0,1,0,0,0,0.0,manual_in_house,1,no,none,none,none,minorArterial,40.0,neighborhoodRetail,133.0,SEM,2017-07-17 15:08:00,1,0,0
2,19205.0,1025.0,Durfee Ave.,Santa Anita Ave.,Peck Rd.,34.035943,-118.039993,12-03-2016,Saturday,11:00 AM,1:00 AM,11:30 AM,0,0,1,0,0,0,0.0,manual_in_house,1,no,none,none,none,minorArterial,40.0,neighborhoodRetail,133.0,SEM,2017-07-17 15:08:00,1,0,0
3,19206.0,1025.0,Durfee Ave.,Santa Anita Ave.,Peck Rd.,34.035943,-118.039993,12-03-2016,Saturday,11:00 AM,1:00 AM,11:45 AM,0,0,2,0,0,0,0.0,manual_in_house,1,no,none,none,none,minorArterial,40.0,neighborhoodRetail,133.0,SEM,2017-07-17 15:08:00,2,0,0
4,19207.0,1025.0,Durfee Ave.,Santa Anita Ave.,Peck Rd.,34.035943,-118.039993,12-03-2016,Saturday,11:00 AM,1:00 AM,12:00 PM,0,0,0,0,0,0,0.0,manual_in_house,1,no,none,none,none,minorArterial,40.0,neighborhoodRetail,133.0,SEM,2017-07-17 15:08:00,0,0,0

In [43]:
loc_count = df.groupby(['city', 'location_id', 'longitude', 'latitude']).agg(['sum'])['total_count'].reset_index()
loc_count['name'] = [c + "_" + str(int(l)) + ":" + str(s) for c,l,s in zip(loc_count['city'], loc_count['location_id'], loc_count['sum'])]
loc_count.head()

       city  location_id   longitude   latitude  sum              name
0  Altadena       1551.0 -118.113507  34.169051   13  Altadena_1551:13
1  Altadena       1554.0 -118.098393  34.169834   20  Altadena_1554:20
2  Altadena       1569.0 -118.111557  34.169035   14  Altadena_1569:14
3  Altadena       1593.0 -118.159145  34.189121   29  Altadena_1593:29
4  Altadena       1622.0 -118.168809  34.185666   73  Altadena_1622:73

In [44]:
# ??go.Scattermapbox

In [45]:
list(loc_count)

['city', 'location_id', 'longitude', 'latitude', 'sum', 'name']

In [46]:
data = [
    go.Scattermapbox(
        lat=loc_count['latitude'],
        lon=loc_count['longitude'],
        mode='markers',
        marker=dict(
            size=loc_count['sum']/2
        ),
        text=loc_count['name'],
    )
]

layout = go.Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat= (np.max(loc_count['latitude']) + np.min(loc_count['latitude']))/2,
            lon= (np.max(loc_count['longitude']) + np.min(loc_count['longitude']))/2
        ),
        pitch=0,
        zoom=10
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Bike Counts')

# View output: https://plot.ly/~zihaoxu/4